body {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgray;
}

img {
  width: 200px;
}

p {
  font-weight: 800;
}
span {
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
